/** SCROLL SMOOTH - START **/

html {
  scroll-behavior: smooth;
}
/** SCROLL SMOOTH - END **/
/** SCROLL BAR - START **/
body {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $firstColor;
    //border-radius: 2rem;
  }

  &::-webkit-scrollbar-track {
    //border-radius: 0.5rem;
    //box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.25);
    background-color: #484848;
  }
}

/** SCROLL BAR - END **/
