/** MIXINS - START **/

@mixin Title {
  font-size: 5rem;
  //font-weight: bold;
  color: var(--title);
}

@mixin Subtitle {
  font-size: 2rem;
  //font-weight: 100;
  font-weight: 400;
  letter-spacing: 0.8rem;
  color: var(--subTitle);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    width: 10rem;
    height: 1px;
    background: var(--subTitle);
    margin-top: 1rem;
    transition: .3s ease;
  }

  &:hover::after {
    background: var(--firstColor);
    width: 30rem;
  }
}

@mixin Text {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: normal;
  color: var(--text);
}

@mixin SkillsTitle {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--skillTitle);
}

@mixin SkillsSubtitle {
  font-size: 2rem;
  font-weight: 200;
  color: var(--skillSubTitle);
}

@mixin animationCircleHover {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    transform: translateX(-50%);
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: -1;
  }

  &:hover::before {
    animation-name: circleHover;
  }

  &:not(:hover)::before {
    animation-name: circleRelease;
  }
}


/** MIXINS - END **/
