/** MIXINS - START **/

@mixin Title {
  font-size: 5rem;
  //font-weight: bold;
  color: black;
}

@mixin Subtitle {
  font-size: 2rem;
  //font-weight: 100;
  font-weight: 400;
  letter-spacing: 0.8rem;
  color: #a6a6a6;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    width: 10rem;
    height: 1px;
    background: #a6a6a6;
    margin-top: 1rem;
    transition: .3s ease;
  }

  &:hover::after {
    background: $firstColor;
    width: 30rem;
  }
}

@mixin Text {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: normal;
  color: black;
}

@mixin SkillsTitle {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
}

@mixin SkillsSubtitle {
  font-size: 2rem;
  font-weight: 200;
  color: black;
}

/** MIXINS - END **/
